$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~jquery-toast-plugin/src/jquery.toast.css';

// ----------------- Colors & Variables -----------------------

$dark-gray: #7F7F7F;
$darker-gray: #686868;

// ----------------- Global -----------------------------------

body {
  // font-family: 'Tajawal', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.modal-header {
  border-bottom: 1px solid black;
  background-color: $darker-gray;
  color: white;
}

.modal-footer {
  border-top: 1px solid black;
  background-color: $darker-gray;
}

.form-control {
  border: 1px solid black;
}

.modal-button {
  border: 1px solid black;
  color: black;
  background-color: white;
}

.modal-button:hover {
  color: white;
  background-color: black;
}

input {
  color: black !important;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black !important;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: black !important;
}

footer {
  position: fixed;
  bottom: 0;
  height: 8%;
  width: 100%;
  background-color: black;
}

.navbar {
  background-color: black;
  border-radius: 0;
  border: none;
}

.navbar-brand {
  font-family: 'Gugi', cursive;
  font-size: 2em;
  color: white !important;
}

#user-email-dropdown {
  color: white;
}

.dropdown-toggle {
  color: white !important;
}

.dropdown-toggle:focus {
  background-color: $dark-gray !important;
  color: white !important;
}

.drop-toggle:hover {
  background-color: $dark-gray !important;
  color: white !important;
}

.open a:focus {
  background-color: $dark-gray !important;
}

.open a:hover {
  background-color: $dark-gray !important;
  color: white !important;
}

.navbar-default .navbar-nav > .open > a {
  background-color: $dark-gray !important;
}

// ----------------- Landing Page -----------------------------

.landing-wrapper {
  // setting to height and width of the viewport
  height: 100vh;
  text-align: center;
  width: 100vw;
  background-color: white;
}

.landing-header {
  color: black;
  font-size: 23em;
  padding-top: 11%;
  margin: 0;
  font-family: 'Gugi', cursive;
  // font-family: 'Righteous', cursive;
  // font-family: 'Poiret One', cursive;
  // font-family: 'Libre Barcode 39 Text', cursive;
}

.proceed-button {
  font-size: 1em;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: .5%;
}

.proceed-button:hover {
  color: white;
  background-color: $darker-gray;
}

.proceed-button:focus {
  outline: none;
}

.register-toggle {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.register-toggle:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

// ----------------- Chat View --------------------------------

.chat-view-wrapper {
  height: 100vh;
  width: 100vw;
}

// ----------------- Other View -------------------------------

// ----------------- Other View -------------------------------

// ----------------- Other View -------------------------------

// ----------------- Media Queries ----------------------------

// ----------------- Animation-Related ------------------

.animation-delay {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.25s;
}
