$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~jquery-toast-plugin/src/jquery.toast.css';

// ----------------- Colors & Variables -----------------------

$dark-gray: #7F7F7F;
$darker-gray: #686868;
$tangerine: #FCA166;

// ----------------- Global -----------------------------------

body {
  // font-family: 'Tajawal', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.modal-header {
  border-bottom: 1px solid black;
  background-color: $darker-gray;
  color: white;
}

.modal-footer {
  border-top: 1px solid black;
  background-color: $darker-gray;
}

.form-control {
  border: 1px solid black;
}

.modal-button {
  border: 1px solid black;
  color: black;
  background-color: white;
}

.modal-button:hover {
  color: white;
  background-color: black;
}

input {
  color: black !important;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black !important;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: black !important;
}

footer {
  position: fixed;
  bottom: 0;
  height: 8%;
  width: 100%;
  background-color: black;
}

.navbar {
  background-color: black;
  border-radius: 0;
  border: none;
}

.navbar-brand {
  font-family: 'Gugi', cursive;
  font-size: 2em;
  color: white !important;
}

#user-email-dropdown {
  color: white;
}

.dropdown-toggle {
  color: white !important;
}

.dropdown-toggle:focus {
  background-color: $dark-gray !important;
  color: white !important;
}

.drop-toggle:hover {
  background-color: $dark-gray !important;
  color: white !important;
}

.open a:focus {
  background-color: $dark-gray !important;
}

.open a:hover {
  background-color: $dark-gray !important;
  color: white !important;
}

.navbar-default .navbar-nav > .open > a {
  background-color: $dark-gray !important;
}

// ----------------- Landing Page -----------------------------

.landing-wrapper {
  // setting to height and width of the viewport
  height: 100vh;
  text-align: center;
  width: 100vw;
  background-color: white;
}

.landing-header {
  color: black;
  font-size: 23em;
  padding-top: 11%;
  margin: 0;
  // font-family: 'Gugi', cursive;
  // font-family: 'Righteous', cursive;
  // font-family: 'Poiret One', cursive;
  font-family: 'Libre Barcode 39 Text', cursive;
}

.proceed-button {
  font-size: 1em;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: .5%;
}

.proceed-button:hover {
  color: white;
  background-color: $darker-gray;
}

.proceed-button:focus {
  outline: none;
}

.register-toggle {
  color: $dark-gray;
  font-family: 'Righteous', cursive;
  text-align: center;
  font-style: italic;
  font-size: 13px;
  margin-top: -6px;
  margin-bottom: -6px;
}

.register-toggle:hover {
  color: black;
  cursor: pointer;
}

// ----------------- Chat View --------------------------------

.chat-view-wrapper {
  height: 100vh;
  width: 100vw;
}

.delete-button {
  background-color: red;
  color: white;
}

.delete-button:hover {
  background-color: black;
  color: white;
}

.messages-wrapper {
  height: 72vh;
  margin-bottom: 2vh;
  border: 4px solid black;
  overflow: auto;
  border-radius: 10px;
  padding: 0;
}

.chat-input {
  height: 5vh;
  border-radius: 10px;
  border: 4px solid black;
}

.chat-input-button {
  height: 5vh;
  border-radius: 10px;
  border: 4px solid black;
  background-color: $darker-gray;
  color: white;
}

.chat-input-button:hover {
  background-color: white;
  color: black;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.messages-ul {
  list-style-type: none;
  margin: 0;
  padding: 3px;
}

.messages-ul li {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 3px;
}

.messages-ul li:nth-child(odd) {
  background: $dark-gray;
  color: white;
}

.content-column {
  width: 63.333333333333333333%;
  margin-left: 10%;
}

#chatInput {
  width: 81%;
  margin-right: 2.333333333333%;
}

.speaker {
  // font-family: 'Gugi', cursive;
  font-family: 'Righteous', cursive;
  // font-family: 'Poiret One', cursive;
  // color: black;
  color: $tangerine;
  font-size: 17px;
}

#typing {
  border: none !important;
  background-color: white;
  color: $dark-gray;
  text-align: center;
  font-family: 'Warnes', cursive;
}

.fin-message {
  // font-family: 'Roboto Mono', monospace;
  font-family: 'IBM Plex Mono', monospace;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Source Code Pro', monospace;
  // font-family: 'Warnes', cursive;
}

.list-number {
  color: $tangerine;
  font-family: 'Righteous', cursive;
}

// ----------------- Google Search Result -------------------------------

.results-wrapper {
  margin-top: 1vh;
  height: 60vh;
  overflow: auto;
}

.search-image {
  height: 18vh;
  background-size: cover;
}

.search-info  {
  width: 67.666666666666% !important;
  margin-left: 2vh !important;
}

.search-title {
  height: 3vh;
  font-size: 14px;
  color: $tangerine;
  overflow-y: hidden;
  margin-bottom: 1vh;
}

.search-link {
  height: 2vh;
  overflow-y: hidden;
  margin-bottom: 1vh;
  font-size: 11px;
  color: blue;
}

.search-snippet {
  height: 11vh;
  font-size: 12px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#row1,
#row2 {
  margin-bottom: 1vh;
}

// ----------------- Other View -------------------------------

// ----------------- Other View -------------------------------

// ----------------- Media Queries ----------------------------

// ----------------- Animation-Related ------------------

.animation-delay {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.25s;
}
