$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~jquery-toast-plugin/src/jquery.toast.css';

// ----------------- Colors & Variables -----------------------

// ----------------- Global -----------------------------------

body {
  // font-family: 'Tajawal', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.modal-header {
  border-bottom: 1px solid black;
}

.modal-footer {
  border-top: 1px solid black;
}

.form-control {
  border: 1px solid black;
}

.modal-button {
  border: 1px solid black;
  color: black;
  background-color: white;
}

.modal-button:hover {
  color: white;
  background-color: black;
}

input {
  color: black !important;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black !important;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: black !important;
}

// ----------------- Landing Page -----------------------------

.landing-wrapper {
  // setting to height and width of the viewport
  height: 100vh;
  text-align: center;
  width: 100vw;
  background-color: white;
}

.landing-header {
  color: black;
  font-size: 23em;
  padding-top: 11%;
  margin: 0;
  font-family: 'Gugi', cursive;
  // font-family: 'Righteous', cursive;
  // font-family: 'Poiret One', cursive;
  // font-family: 'Libre Barcode 39 Text', cursive;
}

.proceed-button {
  font-size: 1em;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: .5%;
}

.proceed-button:hover {
  color: white;
  background-color: black;
}

.proceed-button:focus {
  outline: none;
}

.register-toggle {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.register-toggle:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

// ----------------- Chat View --------------------------------

// ----------------- Other View -------------------------------

// ----------------- Other View -------------------------------

// ----------------- Other View -------------------------------

// ----------------- Media Queries ----------------------------

// ----------------- Register Input Field Changes -------------

#inputEmail2,
#inputPassword2,
#inputPassword3 {
  color: white !important;
  background-color: black
}

#inputEmail2::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}

#inputEmail2:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white !important;
}

#inputEmail2::-ms-input-placeholder { /* Microsoft Edge */
  color: white !important;
}

#inputPassword2::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}

#inputPassword2:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white !important;
}

#inputPassword2::-ms-input-placeholder { /* Microsoft Edge */
  color: white !important;
}

#inputPassword3::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}

#inputPassword3:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white !important;
}

#inputPassword3::-ms-input-placeholder { /* Microsoft Edge */
  color: white !important;
}

// ----------------- Animation-Related ------------------

.animation-delay {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.25s;
}
