$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~jquery-toast-plugin/src/jquery.toast.css';

// ----------------- Colors & Variables -----------------------

$dark-gray: #7F7F7F;
$darker-gray: #686868;
$tangerine: #FCA166;

// ----------------- Global -----------------------------------

body {
  // font-family: 'Tajawal', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.modal-header {
  border-bottom: 1px solid black;
  background-color: $darker-gray;
  color: white;
}

.modal-footer {
  border-top: 1px solid black;
  background-color: $darker-gray;
}

.form-control {
  border: 1px solid black;
}

.modal-button {
  border: 1px solid black;
  color: black;
  background-color: white;
  transition: background 0.3s ease-in-out;
}

.modal-button:hover {
  color: white;
  background-color: black;
}

input {
  color: black !important;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black !important;
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black !important;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: black !important;
}

footer {
  position: fixed;
  bottom: 0;
  height: 8%;
  width: 100%;
  background-color: black;
}

.navbar {
  background-color: black;
  border-radius: 0;
  border: none;
}

.navbar-brand {
  font-family: 'Gugi', cursive;
  font-size: 2em;
  color: white !important;
}

.mini-comment-bubble {
  font-size: 14px;
  position: relative;
  bottom: 72%;
  right: 5%;
  // color: $tangerine;
}

#user-email-dropdown {
  color: white;
}

.dropdown-toggle {
  color: white !important;
}

.dropdown-toggle:focus {
  background-color: $dark-gray !important;
  color: white !important;
}

.drop-toggle:hover {
  background-color: $dark-gray !important;
  color: white !important;
}

.open a:focus {
  background-color: $dark-gray !important;
}

.open a:hover {
  background-color: $dark-gray !important;
  color: white !important;
}

.navbar-default .navbar-nav > .open > a {
  background-color: $dark-gray !important;
}

// ----------------- Landing Page -----------------------------

#landing-wrapper {
  // background: url('https://imgur.com/3jZIfkP.jpg') no-repeat center center fixed;
  background: url('https://imgur.com/9OeQwtW.jpg') no-repeat center center fixed;
  // background: url('https://imgur.com/Jl1hVmW.jpg') no-repeat center center fixed;
  // background: url('https://imgur.com/7lArD4v.jpg') no-repeat center center fixed;
  background-size: cover;
}

.comment-bubble {
  font-size: 7em;
  display: inline;
  position: absolute;
  // color: black;
  color: white;
  // color: $tangerine;
  right: 27%;
  top: 16%;
}

.landing-wrapper {
  // setting to height and width of the viewport
  height: 100vh;
  text-align: center;
  width: 100vw;
  background-color: white;
}

.landing-header {
  // color: black;
  color: white;
  font-size: 23em;
  padding-top: 11%;
  margin: 0;
  font-family: 'Gugi', cursive;
}

.proceed-button {
  background: none;
  border: 2px solid;
  border-radius: 10px;
  border-bottom-width: 4px;
  font: inherit;
  letter-spacing: inherit;
  margin: 1em;
  padding: .75%;
  font-size: 16px;
  text-transform: inherit;
  transition: color 1s;
  $color: #9c89f7;
  color: white;

 &:hover {
   animation: halftone 1s forwards;
   background: radial-gradient(circle, white 0.2em, transparent 0.25em) 0 0 / 1.25em 1.25em
             , radial-gradient(circle, white 0.2em, transparent 0.25em) 6.25em 6.25em / 1.25em 1.25em;
   color: adjust-hue(black,180);
 }
}

@keyframes halftone {
 100% {
   background-size: 2.375em 2.375em, 0.1em 0.1em;
 }
}

.proceed-button:focus {
  outline: none;
}

.register-toggle {
  color: $dark-gray;
  // font-family: 'Righteous', cursive;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-style: italic;
  font-size: 13px;
  margin-top: -6px;
  margin-bottom: -6px;
  transition: background 0.3s ease-in-out;
}

.register-toggle:hover {
  // color: black;
  color: $tangerine;
  cursor: pointer;
}

// ----------------- Chat View --------------------------------

.skill-list {
  margin-top: .5%;
  margin-left: 0.5%;
  // border-top: 2px solid $tangerine;
  padding-top: 1.0%;
  // border-bottom: 2px solid $tangerine;
  padding-bottom: 1%;
  margin-bottom: .5%;
}

#chatInput {
  background-color: $dark-gray;
  color: white !important;
}

.fin-li {
  background: white;
  color: black;
}

.user-li {
  background: $dark-gray;
  color: white;
}

.chat-view-wrapper {
  height: 100vh;
  width: 100vw;
}

.delete-button {
  background-color: red;
  color: white;
  transition: background 0.3s ease-in-out;
}

.delete-button:hover {
  background-color: black;
  color: white;
}

.messages-wrapper {
  height: 72vh;
  margin-bottom: 2vh;
  border: 4px solid black;
  overflow: auto;
  border-radius: 10px;
  padding: 0;
}

.chat-input {
  height: 5vh;
  border-radius: 10px;
  border: 4px solid black;
}

.chat-input-button {
  font-family: 'Poiret One', cursive;
  font-size: 21px;
  height: 5vh;
  border-radius: 10px;
  border: 4px solid black;
  background-color: $darker-gray;
  color: white;
  transition: background 0.3s ease-in-out;
}

.chat-input-button:hover {
  // background-color: white;
  background-color: $tangerine;
  color: black;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.messages-ul {
  list-style-type: none;
  margin: 0;
  padding: 3px;
}

.messages-ul li {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 3px;
}

.content-column {
  width: 63.333333333333333333%;
  margin-left: 10%;
}

#chatInput {
  width: 81%;
  margin-right: 2.333333333333%;
}

.speaker {
  // font-family: 'Gugi', cursive;
  font-family: 'Righteous', cursive;
  // font-family: 'Poiret One', cursive;
  // color: black;
  color: $tangerine;
  font-size: 17px;
}

#typing {
  border: none !important;
  background-color: white;
  color: $dark-gray;
  text-align: center;
  font-family: 'Warnes', cursive;
}

.fin-message {
  // font-family: 'Roboto Mono', monospace;
  font-family: 'IBM Plex Mono', monospace;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Source Code Pro', monospace;
  // font-family: 'Warnes', cursive;
}

.list-number {
  color: $tangerine;
  font-family: 'Righteous', cursive;
}

// ----------------- Google Search Result -------------------------------

.results-wrapper {
  max-height: 60vh;
  overflow: auto;
}

.search-image {
  height: 18vh;
  background-size: cover;
}

.search-info  {
  width: 67.666666666666% !important;
  margin-left: 2vh !important;
}

.search-title {
  height: 3vh;
  font-size: 14px;
  color: $tangerine;
  overflow-y: hidden;
  margin-bottom: 1vh;
}

.search-link {
  height: 2vh;
  overflow-x: hidden;
  margin-bottom: 1vh;
  font-size: 11px;
  color: blue;
}

.search-snippet {
  height: 11vh;
  font-size: 12px;
  // overflow-x: scroll; // removed because handlebars renders stranegly
  overflow-y: hidden;
  // white-space: nowrap; // removed because handlebars renders stranegly
}

#row1,
#row2,
#row3 {
  margin-top: 1vh;
  // margin-bottom: 1vh;
}

.google-row {
  margin-top: 1vh;
}

// ----------------- Spotify Search Result -------------------------------

.spotify-title {
  margin-top: 4vh;
}

.spotify-tracks {
  height: 7vh;
}

// ----------------- Other View -------------------------------

// ----------------- Media Queries ----------------------------

@media (max-width: 1191px) {
  .comment-bubble {
    right: 23%;
    top: 15%;
  }
}

@media (max-width: 1059px) {
  .comment-bubble {
    right: 20%;
    top: 13%;
  }
}

@media (max-width: 942px) {
  .comment-bubble {
    right: 17%;
    top: 12%;
  }
}

@media (max-width: 924px) {
  .chat-input-button {
    font-size: 18px;
  }
}

@media (max-width: 872px) {
  .comment-bubble {
    right: 14%;
    top: 11%;
  }
}

@media (max-width: 807px) {
  .comment-bubble {
    right: 17%;
    top: 14%;
    font-size: 6em;
  }
  .landing-header {
    font-size: 20em;
    padding-top: 17%;
  }
}

@media (max-width: 738px) {
  .comment-bubble {
    right: 13%;
  }
}

@media (max-width: 723px) {
  .proceed-button {
    padding: 1%;
    font-size: 14px;
  }
}

@media (max-width: 687px) {
  .comment-bubble {
    font-size: 5em;
  }
}

@media (max-width: 642px) {
  .comment-bubble {
    right: 10%;
  }
}

@media (max-width: 587px) {
  .comment-bubble {
    right: 13%;
    top: 21%;
    font-size: 4em;
  }
  .landing-header {
    font-size: 18em;
    padding-top: 28%;
  }
}

@media (max-width: 530px) {
  .comment-bubble {
    right: 10%;
    top: 18%;
  }
}

@media (max-width: 500px) {
  .comment-bubble {
    right: 16%;
    top: 24%;
    font-size: 3em;
  }
  .landing-header {
    font-size: 15em;
    padding-top: 36%;
  }
  .proceed-button {
    font-size: 12px;
    padding: 1.25%;
  }
}

@media (max-width: 485px) {
  .chat-input-button {
    font-size: 16px;
  }
}

@media (max-width: 476px) {
  .comment-bubble {
    right: 14%;
    top: 22%;
  }
}

@media (max-width: 450px) {
  .comment-bubble {
    right: 18%;
    top: 26%;
    font-size: 2em;
  }
  .landing-header {
    font-size: 13em;
    padding-top: 42%;
  }
}

@media (max-width: 435px) {
  .chat-input-button {
    padding-left: 12px;
  }
}

@media (max-width: 430px) {
  .comment-bubble {
    right: 16%;
    top: 24%;
  }
}

@media (max-width: 406px) {
  .comment-bubble {
    right: 13%;
    top: 23%;
  }
}

@media (max-width: 400px) {
  .chat-input-button {
    padding-left: 11px;
  }
}

// ----------------- Animation-Related ------------------

.animation-delay {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.25s;
}
